.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  align-items: flex-end;
}

.imageAndText img {
  width: 48px;
  height: 48px;
}

.text {
  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),0px 5px 20px 0px rgba(29, 33, 38, 0.03);
  background: rgb(0, 102, 204);
  border-radius: 10px;

  width: 515px;
  height: 60px; 
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding: 7px 15px;
  position: relative;
}

.text:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(35deg, rgb(0, 102, 204) 0%, rgb(0, 102, 204) 50%, transparent 50%, transparent);
}

.name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: 'Montserrat';

}

.messageText {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Montserrat';
}

.time {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  margin-right: 11px;
}