.input:focus {

}

.input {
  width: 372px;
  height: 36px;
  box-sizing: border-box;
border: 1px solid rgb(209, 209, 209);
border-radius: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
