.App {
    --header_height: 60px;
}

.hw {
    width: 89.06%;
    padding: 0 70px;
}

.hwTitle {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}